<%- include('./partials/header.ejs') %>

<div class="d-flex align-items-center mt-5">
    <div class="container px-4 px-lg-5 text-center">

        <h1 class="mb-2">Everyone's a Critic!</h1>
        
        <p class="lead">Welcome! Join our community and search for your favorite movies, add them to your Favorites List and you and your friends can discover, discuss, & connect over your favorite films!</p>
        
        <p class="lead mb-5">
            <a href="/users/new" class="btn btn-lg btn-secondary">Sign Up</a>  <a href="/users/login" class="btn btn-lg btn-secondary">Log In</a>
        </p>
    </div>
</div>


<%- include('./partials/footer.ejs') %>