<%- include('./partials/header.ejs') %>

<main role="main" class="d-flex">
    <div class="d-flex align-items-center">
        <h1 class="">Everyone's a Critic!</h1>
        
        <p class="lead">Welcome! Join our community and search for your favorite movies, add them to your Favorites List and you and your friends can discover, discuss, & connect over your favorite films!</p>
        
        <p class="lead">
            <a href="/users/new" class="btn btn-lg btn-secondary">Sign Up</a>  <a href="/users/login" class="btn btn-lg btn-secondary">Log In</a>
        </p>
    </div>
</main>




<%- include('./partials/footer.ejs') %>