<%- include('../partials/header.ejs') %>

<div class="login-page my-5">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-10 offset-lg-1">
              <h3 class="my-3">Sign up for an account:</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form class="row g-4" method="POST" action="/users">
                                        <div class="col-12">
                                            <label for="email">Email:<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                <input class="form-control" type="email" name="email" id="email" placeholder="Enter Email" required />
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label>Password<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                                <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password" required />
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary px-4 float-end mt-4">Create Profile!</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                <img src="https://i.imgur.com/Ozlt5hJb.png" alt="EVAC logo">
                                <h3 class="mt-4 fs-1">Welcome Back!!</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>